<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Graphium - Upload Document</title>
    <div th:replace="fragments/standardHead :: standardCSS"></div>
    <link th:href="@{/css/bootstrap_form_sign_in.css}" rel="stylesheet" />
    <link th:href="@{/css/universal.css}" rel="stylesheet" />
</head>
<body>
<div th:fragment="documentListFull" class="container">
    <!--All buttons for viewing all documents-->
    <div th:fragment="documentListNav" class="d-flex justify-content-center boarder">
        <div class="col-3 mx-2">
            <a class="btn btn-info w-100 mini_nav" href="/document/myUploads">My Documents</a>
        </div>
        <div class="col-3 mx-2">
            <a class="btn btn-info w-100 mini_nav" href="/document/myOrganisationDocuments">My Organisation</a>
        </div>
        <div class="col-3 mx-2">
            <a class="btn btn-info w-100 mini_nav" href="/document/otherOrganisationDocuments">Other Organisation</a>
        </div>
        <div class="col-3 mx-2">
            <a class="btn btn-info w-100 mini_nav" href="/document/otherUsersDocuments">Other Researchers</a>
        </div>
    </div>
    <!--Displaying the documents in cards-->
    <div th:fragment="documentListList">
        <div th:each="document: ${documentList}" class="documents">
            <div class="card mt-2">
                <div class ="card-body">
                    <!--Card Meta data-->
                    <h3 th:text="${document.getTitle()}">Document Title</h3>
                    <div class="d-flex justify-content-around">
                        <div>
                            <h5 th:text="${document.getOwnerUsername()}" class="text-secondary">Owned by</h5>
                            <h5 th:text="${document.getDateCreated()}" class="text-secondary">Date Created</h5>
                        </div>
                        <!--Buttons that allow user to interact with documents-->
                        <div class="d-flex align-items-center justify-content-around">
                            <a th:href="'/document/view/'+${document.getId()}" class="btn btn-primary mx-3">View</a>
                            <a th:href="'/document/download/'+${document.getId()}" class="btn btn-secondary">Download</a>
                            <a th:href="'/document/share/'+${document.getId()}" class="btn btn-success mx-3" >Share</a>
                            <a th:href="'/document/delete/'+${document.getId()}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function deleteFunction(id, title) {
                    if (confirm("Do you wish to delete "+title+"? Once you delete it you cannot reverse this action.")) {
                        window.location.href = "/document/delete/" + id;
                    }
                }

            </script>
        </div>
    </div>
</div>
</body>
</html>
