.ui-dialog {
    text-align: center;
    background: #F5F8FA;
    border-radius: 10px;
}

.ui-dialog-titlebar {
    background: none;
    color: #9f0101;
    font-size: 36px;
    border: none;
}

.ui-dialog-buttonpane{
    text-align: center;
    border: none;
    background: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    margin: auto;
    width: 50%;
}

.ui-dialog .ui-dialog-buttonpane button{
    background: #1E4C63;
    color: white;
    font-weight: bold;
}