.page-footer{
    background: #1E4C63;
}

.linksButton{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.linksButton:hover{
    color: white;
    text-decoration: underline;
}
.links{
    text-align: center;
}

.footer-copyright{
    color: white;
}