body{
    overflow-x: hidden;
    height: 100vh;
}

.color-bg-primary{
    background: white;
}

.color-primary{
    color:white;
}

.color-bg-accent{
    background: #1E4C63;
}

.page_content{
    background: #F5F8FA;
    padding: 10%;
}

#search {
    margin-left: 0;
    padding: 0;
    text-align: center;
}

.documents {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.page_content{
    background: #F5F8FA;
    padding: 10%;
}

.card-button-css{
    width: 50px;
    margin-left: 5px;
}

