body{
    overflow-x: hidden;
    height: 100vh;
}

.color-bg-primary{
    background: white;
}

.color-primary{
    color:white;
}

.color-bg-accent{
    background: #1E4C63;
}

.page_content{
    background: #F5F8FA;
    padding: 10%;
}