<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphium - Share Document </title>
    <div th:replace="fragments/standardHead :: standardCSS"></div>
    <link th:href="@{/css/bootstrap_form_sign_in.css}" rel="stylesheet" />
    <link th:href="@{/css/universal.css}" rel="stylesheet" />
</head>
<body>
<!--Navigation Bar-->
<div th:replace="fragments/header :: header"/>
    <!--All the content of the page is here-->
    <div class="page_content">
        <div class="d-flex align-items-center flex-column mb-2">
            <h1 class="page_title">Share Document</h1>
            <div class="w-50 rounded color-bg-accent" style="height:8px;">  </div>
        </div><br>
        <!--Displaying title of the Document-->
        <div class="container" id="share">
            <div class="row">
                <h3 th:text="${document.getTitle()}"></h3>
            </div><br>
            <!--Allowing the user to share a document to others -->
            <div class="row pb-4 mb-4">
                <div class="col px-1">
                    <h3>Share to organisation</h3>
                    <form th:action="@{/document/share/newOrganisation}" th:method="post">
                        <div class="form-group mb-3">
                            <input type="hidden" id="documentID" name="documentID" th:value="${document.getId()}">
                            <label for="newOrganisationID">Select Organisation</label>
                            <select class="form-select" name="newOrganisationID" id="newOrganisationID">
                                <option th:each="organisation: ${shareableOrganisations}" th:value="${organisation.getId}" th:text="${organisation.getName()}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success w-50">Submit</button>
                    </form>
                </div>
                <!--List of organisations that the document is shared to-->
                <div class="col px-1">
                    <h3>Shared organisations</h3>
                    <div th:each="organisation: ${currentSharedOrganisations}" class="col border my-2" style="background-color: white;">
                        <h5 class="m-0 p-1" th:text="${organisation.getName()}"></h5>
                    </div>
                </div>
            </div>
            <div class="row pt-4 mt-4">
                <div class="col px-1">
                    <h3>Share to users</h3>
                    <form th:action="@{/document/share/newUser}" th:method="post">
                        <div class="form-group">
                            <input type="hidden" id="documentID" name="documentID" th:value="${document.getId()}">
                            <label for="newUsername">Select a user</label>
                            <select class="form-select" name="newUsername" id="newUsername">
                                <option th:each="user: ${shareableUsers}" th:value="${user.getUsername}" th:text="${user.getUsername()}"></option>
                            </select>
                        </div>
                        <button class="btn btn-success mt-3 w-50">Submit</button>
                    </form>
                </div>
                <!--List of users that the document is shared to-->
                <div class="col px-1">
                    <h3>Shared users</h3>
                    <div th:each="user: ${currentSharedUsers}"  class="col border my-2" style="background-color: white;">
                        <h5 class="m-0 p-1" th:text="${user.getUsername()}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Page Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
