<!DOCTYPE html>
<!-- This is a html page used to test the header (Not for production)-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graphium - Welcome</title>
    <meta charset="UTF-8">
    <div th:replace="fragments/standardHead :: standardCSS"></div>
</head>
<body>
<!-- Using Thymeleaf, the header can be placed just above the rest of the pages body -->
<div th:replace="fragments/header :: header"/>
<h1>THIS IS A TEST</h1>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>