<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graphium - Welcome</title>
    <meta charset="UTF-8">
    <div th:replace="fragments/standardHead :: standardCSS"></div>
    <link th:href="@{/css/universal.css}" rel="stylesheet" />
</head>
<body>
<!--Navigation Bar-->
<div th:replace="fragments/header :: header"/>
    <!--All the content of the page is here-->
    <div class="page_content">
        <!--Specific page title, home page displays the username of the user-->
        <div class="d-flex align-items-center flex-column mb-2">
            <h1 class="page_title">Welcome <span th:text="${userName}"></span></h1>
            <div class="w-50 rounded color-bg-accent" style="height:8px;">  </div>
        </div><br>
        <!--Displaying the current date-->
        <div class="todayDate">
            <h4>Today's date is <span th:text="${date}"></span></h4>
        </div>
    <!--List of all documents the user can view (my documents, my organisations, other organisations, other researchers)-->
    <div th:replace="fragments/listDocuments :: documentListFull" />
    </div>
<!--Page Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
