<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graphium - Register New User</title>
    <meta charset="UTF-8">
    <div th:replace="fragments/standardHead :: standardCSS"></div>
    <link th:href="@{/css/universal.css}" rel="stylesheet"/>
</head>
<body>
<!--Navigation Bar-->
<div th:replace="fragments/header :: header"/>
<!--All the content of the page is here-->

<div class="container">


    <div class="d-flex align-items-center flex-column mb-2">
        <h1 class="page_title">Register Organisation Admin Account</h1>
        <div class="w-50 rounded color-bg-accent mb-2" style="height:8px;"></div>
        <br>

        <form class="d-flex align-items-center flex-column w-25" th:action="@{/systemAdmin/newUserSubmit}" th:object="${newUserForm}" th:method="post">

            <div th:if="${feedBackMessage != null}" class="alert alert-primary" role="alert">
                <span th:text="${feedBackMessage}"></span>
            </div>

            <div class="form-group w-100">
                <label  for="username">Username</label>
                    <input class="form-control w-100" type="text" id="username" th:field="*{username}" maxlength="20" required>
                    <span th:errors="*{username}" th:if="${#fields.hasErrors('usernames')}">Username Error</span>
            </div>

            <div class="form-group w-100">
                <label  for="password">Password</label>
                    <input class="form-control w-100" type="password" id="password" th:field="*{password}" pattern=".{6,20}" title="Should be between 6 and 20 characters"
                           placeholder="" required>
                    <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</span>
            </div>

            <div class="form-group w-100">
                <label  for="email">E-mail</label>
                    <input class="form-control w-100" type="text" id="email" th:field="*{email}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,}$"
                           title="Email must include '@'" placeholder="" required>
                    <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</span>
            </div>

            <div class="form-group w-100">
                <label  for="firstName">First Name</label>
                <div>
                    <input class="form-control w-100" type="text" id="firstName" th:field="*{first_name}" maxlength="20" placeholder=""  required>
                    <span th:errors="*{first_name}" th:if="${#fields.hasErrors('first_name')}">First Name Error</span>
                </div>
            </div>

            <div class="form-group w-100">
                <label  for="lastName">Last Name</label>
                    <input class="form-control w-100" type="text" id="lastName" th:field="*{last_name}" maxlength="20" placeholder=""  required>
                    <span th:errors="*{last_name}" th:if="${#fields.hasErrors('last_name')}">Last Name Error</span>
            </div>

            <div class="form-group w-100">
                <label  for="Organisation">Organisation</label>
                    <select class="form-control w-100" name="Organisation" id="organisation" th:field="*{fk_organisation_id}">
                        <option th:each="org: ${organisations}" th:value="${org.getId()}" th:text="${org.getName()}"></option>
                    </select>
                <span th:errors="*{fk_organisation_id}" th:if="${#fields.hasErrors('fk_organisation_id')}">Organisation Error</span>
            </div>

            <div class="form-group w-100">
                <label  for="authority">Authority Level</label>
                    <select class="form-control w-100" name="authority" id="authority" th:field="*{authority}">
                        <option value="researcher">Researcher</option>
                        <option value="orgAdmin">Organisation Admin</option>
                        <option value="systemAdmin">System Admin</option>
                    </select>
                    <span th:errors="*{authority}" th:if="${#fields.hasErrors('authority')}">Authority Error</span>
            </div>

            <button type="submit" class="btn color-bg-accent color-primary w-100 mt-3">Register</button>


        </form>
    </div>

</div>
<!--Page Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
